<!DOCTYPE html>
<html>
<head>
  <title>Rust Homepage</title>
  <link rel="stylesheet" href="css/homepage.css" ></link>
  <link rel="stylesheet" href="css/new_post_form.css" ></link>
</head>
<body>
  <div class="topnav">
    <a href="/" >BLOG.RS</a>
  </div>
  <div class="form">
    <form method="post">
      <p>Name:<input type="text" name="name" id="name" required></p>
      <p>Body:<input type="text" name="body" id="body" required></p>
      <p><input class="submit" type="submit" value="submit"></p>
      {% if validation_error_red %}
        <p>
          {{ validation_error_red }}
        </p>
      {% endif %}
      {% if validation_ok %}
        <p>
          {{ validation_ok }}
        </p>
      {% endif %}
    </form>
  </div>
</body>
</html>
